* {
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  overflow: hidden;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  margin-top: -200px;
  margin-left: -200px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.frame,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-me {
  position: absolute;
  top: 30%;
  left: 77%;
  font-size: 20px;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.2);
}

.front h1 {
  font-family: Satisfy, cursive;
  font-size: 128px;
  margin: 16px 80px;
  color: #2F58CD;
}

/* faz virar */
.card:hover .flip {
  transform: rotateX(180deg) translate3d(0, 0, 0);
  box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
}

.flip {
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out;
  perspective: 1000px;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #201c29;
}

.card .back {
  transform: rotateX(-180deg);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
}

.back {
  letter-spacing: 2px;
  text-align: center;
}

.back h2 {
  font-size: 36px;
  margin: 8px;
  color: #2F58CD;
}

.back h3 {
  color: rgba(255, 255, 255, 0.7);
  font-family: satisfy, cursive;
  font-weight: 700;
  font-size: 32px;
}

.icone {
  width: 40px;
}

.icone:hover {
  width: 46px;
  cursor: pointer;
}

.imagem {
  width: 48px;
}

.square {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: linear-gradient(#303030, #757575);
  z-index: 2;
}

.circle {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #1cd99d;
  border-radius: 50%;
}

.triangle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}